<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css" type="text/css">
    
    <title>CHART</title>
</head>
<body height: 100%;>

<div>
    <canvas id="myChart" height="120%" ></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <a href="http://localhost:3000/">
    <img src="/img/home.png" class="home_icon" alt="house_logo">
</a>
  
  <script>
    const ctx = document.getElementById('myChart');

    const labels = Array.from({length: 120}, (_, i) => i + 1);

    fetch('http://localhost:3000/chart_data')
        .then(response => response.json())
        .then(data => {
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels, //data.labels,
                    datasets: [
                        {
                            label: 'Température Extérieure',
                            data: data.tempExtData,
                            borderWidth: 1
                        },
                        {
                            label: 'Température Intérieure',
                            data: data.tempIntData,
                            borderWidth: 1
                        },
                        {
                            label: 'Température Consigne',
                            data: data.tempConsData,
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        xAxis: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Temps'
                    }
                }]
                    }
                }
            })         
        .catch(error => {
            console.error('Erreur lors de la récupération des données :', error);
        })
    });
</script>
</body>
</html>