<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    
    <title>IHM WEB</title>
</head>
<body>

<div class="device" id="light1">
    <h3>Light 1</h3>
    <button onclick="toggleLight('light1')"  class="light_button">ON/OFF</button>
    <div>Status: <span id="light1Status">Off</span></div>
</div>

<div class="device" id="light2">
    <h3>Light 2</h3>
    <button onclick="toggleLight('light2')" class="light_button">ON/OFF</button>
    <div>Status: <span id="light2Status">Off</span></div>
</div>

<div class="device" id="light3">
    <h3>Light 3</h3>
    <button onclick="toggleLight('light3')"  class="light_button">ON/OFF</button>
    <div>Status: <span id="light3Status">Off</span></div>
</div>

<div class="device" id="heater1">
    <h3>Heater 1</h3>
    <input type="number" id="heater1Temp" placeholder="Set Temperature">
    <button onclick="setTemperature('heater1')">Set Temperature</button>
    <div>Current Temperature: <span id="heater1TempDisplay">N/A</span></div>
</div>

<div class="device" id="heater2">
    <h3>Heater 2</h3>
    <input type="number" id="heater2Temp" placeholder="Set Temperature">
    <button onclick="setTemperature('heater2')">Set Temperature</button>
    <div>Current Temperature: <span id="heater2TempDisplay">N/A</span></div>
</div>

<script src="script.js"></script>
</body>
</html>
