<!DOCTYPE html>
<html>

<head>
  <title>Discoverthreejs.com - Physically Based Rendering</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <script type="importmap">
	{
	  "imports": {
		"three": "https://unpkg.com/three@0.161.0/build/three.module.js",
		"three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/"
	  }
	}
  </script>
  <script type="module" src="./script/model.js"></script>
  
</head>

<body>
  <h1>Model of the house</h1>
  <p>Windows are white if the shutters are opened and black if they are closed</p>
  <p>The color of the door shows how hot it is inside. deep blue: &lt;5, blue: 5-10, turquoize: 10-15, spring green: 15-18, green: 18-21, yellow: 21-25, orange: 25-30, red: &gt;30</p>

  <div id="scene-container">
    <!-- Our <canvas> will be inserted here -->
  </div>
</body>

</html>