.device {
    margin-bottom: 20px;
}

.light_button {
    display: inline-block;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;

}
 
.light_button:hover {
    background-color: #dbdbdb;
}

.shutter_button{
    display: inline-block;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.shutter_button:hover {
    background-color: #dbdbdb;
}